.heading {
    font-size: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button {
    border: 1px solid #E89242FF;
    background-color: #fff;
    padding: 8px;
    transition: background-color .3s ease;
}

.button:hover {
    background-color: #FFD700;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
}